<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<head>
		<h1>制作中</h1>
	</head>
	<body>
		<div class="create-data">
		<tr>
		
			<th>ID</th>
			<form method="POST" th:action="@{/topPage}" th:object="${userInfo}">
				<p th:errors="*{schedule}" class="data-error-message">この入力は不可です</p>
				<input type="text" th:field="*{id}">
				<th>名前</th>
				<input type="text" th:field="*{name}">
				<th>予定</th>
				<input type="text" th:field="*{schedule}">
				<button type="submit">登録</button>
			</form>
		
		</div>
		
		<form method="POST" th:action="@{/schedule}">
			<input type="hidden" name="id" th:value="${id}" /}
			<button type="submit"></button>
		</form>
		<p th:text="${schedule}"></p>
		
		<div class="incomplete" th:each="data : ${allDate}">
			<p th:text="${id}"></p>
			<p th:text="${name}">さん</p>
			<p th:text="${schedule}"></p>
		</div>
	</body>
</html>